@import 'components/color';
@import 'components/variables';
 
// Custom color settings go here 
$primary-color: color("green", "lighten-2");

@import 'materialize';

/* FIXME: Workaround for https://github.com/Dogfalo/materialize/issues/1079 */
@each $mdi-icon-name, $mdi-icon-value in $mdi-list-icons {
  .#{$mdi-prefix}#{$mdi-icon-name}:before {
    content: "\""+ $mdi-icon-value +"\"";
  }
}

nav .nav-wrapper {
  padding: 0 10px;
}

.action-buttons-wrapper {
  position: relative;
  width: 100%;
  padding: 5px 0;

  .button-container {
    float: left;
    width: auto;
    padding: 0 5px;
  }  
}

.deleted-activity-item {
  color: grey;  
}

.activity-item-type {
  width: 100px;
}