<h3>New Blog</h3>

<div class='row'>
  <form class='col s12'>
    <div class='row'>
      <div class='input-field col s12'>
        {{input placeholder='Name' id='name' class='validate' value=name}}
        <label for='name'>Title</label>
      </div>
      <div class='input-field col s12'>
        {{input placeholder='http://' id='url' class='validate' value=url}}
        <label for='url'>URL</label>
      </div>
      <div class='input-field col s12'>
        <button class='btn waves-effect waves-light' id='submit' type='submit' {{action 'submit'}}>
          Submit
          <i class='mdi-content-send right'></i>
        </button>      
      </div>
    </div>
  </form>
</div>